/*************************************************
* Bootstrapのオーバーライド指定
**************************************************/

body {
	margin:0;
	padding: 0;
	background-color: #ffd;
	
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}

.container, .container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

button {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}

/*************************************************
* アプリケーション全般の設定
**************************************************/
.title {
	margin:0;
	padding:0;
	width: 100%;
	height: 40px;
	background-color: #22f;
	color: #fff;
}

.title h3 {
	margin-top: 0px;
	padding: 4px;
	font-size: 2em;
}

.page {
	width: 100%;
	position: absolute;
	display: none;
}

form input[type='text'], 
form input[type='number'], 
form select {
	margin-left: auto;
	margin-right: auto;
}

.div-top {
	width: 100%;
	margin-top: 32px;
	text-align: center;
}

.div-center {
	width: 100%;
	margin-top: 120px;
	text-align: center;
}

.div-center button {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
}

.div-bottom {
	width: 100%;
	height: 100px;
	bottom: 8px;
	text-align: center;
}

.div-bottom button {
	margin-left: 10px;
	margin-right: 10px;
}



/*************************************************
* タイトル画面
**************************************************/




/*************************************************
* 大会名称入力画面
**************************************************/
#txtGameName {
	width: 240px;
}

/*************************************************
* 問題セット選択画面
**************************************************/
#drpQuizSet {
	width: 240px;
}


/*************************************************
* 参加者パスコード入力画面
**************************************************/
#passCodePage input[type='text'],
#passCodePage input[type='number'] {
	height: 1.8em;
	font-size: 200%;
}

#txtNickname {
	width: 200px;
}

#txtPass {
	width: 140px;
}



/*************************************************
* 大会オープニング画面
**************************************************/
#lblPasscode {
	font-size: 2em;
	color: blue;
}

.div-players {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	padding: 8px;
	background-color: #FAC8E8;
	border-radius: 6px;
}

.div-players .player {
	display: inline-block;
	margin: 4px;
	padding: 4px;
	background-color: white;
	color: blue;
	border-radius: 6px;
}

.div-rules {
	padding-left: 60px;
	color: #aaa;
	font-size: 80%;
	text-align: left;
}

.div-rules h3 {
	margin-left: 20px;
	color: red;
	font-size: 120%;
}


/*************************************************
* クイズ画面
**************************************************/



/*************************************************
* 順位表画面
**************************************************/




