/*************************************************
* Bootstrapのオーバーライド指定
**************************************************/

body {
	margin:0;
	padding: 0;
	background-color: #ffd;
	
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}

.container, .container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

button {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}

/*************************************************
* アプリケーション全般の設定
**************************************************/
.title {
	margin:0;
	padding:0;
	width: 100%;
	height: 40px;
	background-color: #22f;
	color: #fff;
}

.title h3 {
	margin-top: 0px;
	padding: 4px;
	font-size: 2em;
}

.page {
	width: 100%;
	position: absolute;
	display: none;
}

form input[type='text'], 
form input[type='number'], 
form select {
	margin-left: auto;
	margin-right: auto;
}

.div-top {
	width: 100%;
	margin-top: 24px;
	text-align: center;
}

.div-center {
	width: 100%;
	margin-top: 100px;
	text-align: center;
}

.div-center button {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
}

.div-bottom {
	width: 100%;
	height: 100px;
	bottom: 8px;
	text-align: center;
}

.div-bottom button {
	margin-left: 10px;
	margin-right: 10px;
}

.div-players {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	padding: 8px;
	background-color: #FAC8E8;
	border-radius: 6px;
}

.div-players .player {
	display: inline-block;
	margin: 4px;
	padding: 4px;
	background-color: white;
	color: blue;
	border-radius: 6px;
}

.div-players .player-rest {
	display: inline-block;
	margin: 4px;
	padding: 4px;
	background-color: white;
	color: #888;
	border-radius: 6px;
}





/*************************************************
* タイトル画面
**************************************************/




/*************************************************
* 大会名称入力画面
**************************************************/
#txtGameName {
	width: 240px;
}

/*************************************************
* 問題セット選択画面
**************************************************/
#drpQuizSet {
	width: 240px;
}


/*************************************************
* 参加者パスコード入力画面
**************************************************/
#passCodePage input[type='text'],
#passCodePage input[type='number'] {
	height: 1.8em;
	font-size: 200%;
}

#txtNickname {
	width: 200px;
}

#txtPass {
	width: 140px;
}



/*************************************************
* 大会オープニング画面
**************************************************/
#gameStartPage #lblPasscode {
	font-size: 2em;
	color: blue;
}


#gameStartPage .div-rules {
	padding-left: 60px;
	color: #aaa;
	font-size: 80%;
	text-align: left;
}

#gameStartPage .div-rules h3 {
	margin-left: 20px;
	color: red;
	font-size: 120%;
}


/*************************************************
* クイズ画面
**************************************************/
#quizPage h4 {
	margin-left: 20px;
	color: #444;
}

#quizPage .div-top {
	margin-top: 12px;
	margin-bottom: 12px;
	font-size: 180%;
	color: #444;
}

#quizPage .div-answers {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 8px;
	padding: 8px;
	background-color: #3D8DFC;
	border-radius: 6px;
	text-align: center;
}

#quizPage .button-answer {
	display: inline-block;
	min-width:60px;
	min-height:34px;
	margin: 4px;
	padding: 4px;
	background-color: white;
	color: blue;
	font-size: 125%;
	text-align: center;
	border-radius: 6px;
}

#quizPage .div-players {
	margin-bottom: 8px;
}

#quizPage .div-winners {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 4px;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 8px;
	margin-bottom: 8px;
}

#quizPage .div-winners .winner {
	display: inline-block;
	margin: 4px;
	padding: 4px;
	background-color: #3D8DFC;
	color: yellow;
	border-radius: 6px;
}



#quizPage .msg-correct {
	display: inline-block;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	font-size: 220%;
	color: blue;
	border: 4px solid yellow;
	border-radius: 6px;
}

#quizPage .msg-ng {
	display: inline-block;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	font-size: 220%;
	color: red;
	border: 4px solid pink;
	border-radius: 6px;
}


/*************************************************
* 順位表画面
**************************************************/
#rankingPage .div-top {
	padding:8px;
}

#rankingPage .div-top h4{
	font-size: 240%;
	font-weight: 120%;
	text-decoration: none;
	color: #f6a;
}

#rankingPage .ranking {
	padding: 20px;
	text-align: left;
	font-size: 180%;
}

#rankingPage .ranking .player{
	margin-bottom: 12px;
	color: #44f;
	border-bottom: dotted 1px #888;
}


